<div class="body">
  <div>
    <nav class="navbar sticy-top">
      <div class="container-fluid shadow">
        <button type="button" mat-button (click)="drawer.toggle()">
          <span class="material-symbols-outlined text-light">
            drag_indicator
          </span>
          <span class="text-light"
            >{{ greetings }} {{ userDetails.first_name }}</span
          >
        </button>
        <button mat-button [matMenuTriggerFor]="menu">
          <img
            src="{{ userDetails.profile_pics }}"
            alt=""
            class="profile_image"
          />
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
      </div>
    </nav>
  </div>

  <div>
    <mat-drawer-container class="example-container" autosize>
      <mat-drawer #drawer class="example-sidenav" mode="side">
        <div>
          <div>
            <ul>
              <div class="each m-3">
                <li class="m-3">
                  <span class="material-symbols-outlined p-2"> home </span>
                  <span class="home">Home</span>
                </li>
              </div>
              <div class="each m-3">
                <li routerLink="/dashboard/transfer">
                  <span class="material-symbols-outlined p-2"> transform </span>
                  <span class="home">Transfer</span>
                </li>
              </div>
              <div class="each m-3">
                <li>
                  <span class="material-symbols-outlined p-2"> payments </span>
                  <span class="home">Bills, Airtime and Data</span>
                </li>
              </div>
              <div class="each m-3">
                <li>
                  <span class="material-symbols-outlined p-2">
                    credit_card
                  </span>
                  <span class="home">Loans</span>
                </li>
              </div>
              <div class="each m-3">
                <li>
                  <span class="material-symbols-outlined p-2"> person </span>
                  <span class="home">Profile</span>
                </li>
              </div>
              <div class="each m-3">
                <li>
                  <span class="material-symbols-outlined p-2">
                    manage_history
                  </span>
                  <span class="home">Account Statement</span>
                </li>
              </div>
              <div class="each m-3">
                <li>
                  <span class="material-symbols-outlined p-2">
                    diversity_3
                  </span>
                  <span class="home">Refer</span>
                </li>
              </div>
            </ul>
          </div>
        </div>
      </mat-drawer>

      <div class="example-sidenav-content">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-4 mt-2">
                  <div class="one">
                    <p class="pt-4 ps-4 text-light">
                      Account Number:{{ userDetails.accountNo }}
                    </p>
                    <h1 class="text-center ps-2 text-light">
                      NGN {{ userDetails.accountBalance }}:00
                    </h1>
                    <div class="d-flex justify-content-center">
                      <hr class="hr" />
                    </div>

                    <div class="shortCuts">
                      <div class="mt-1" routerLink="/dashboard/fundaccount">
                        <span class="material-symbols-outlined ms-4 text-light">
                          add_circle
                        </span>
                        <div class="mt-2 text-light">Fund Account</div>
                      </div>

                      <div routerLink="/dashboard/transfer">
                        <span
                          class="material-symbols-outlined p-2 text-light"
                          
                        >
                          transform
                        </span>
                        <div class="text-light">Transfer</div>
                      </div>

                      <div  routerLink="/dashboard/history">
                        <span class="material-symbols-outlined p-2 text-light">
                          manage_history
                        </span>
                        <div class="text-light">History</div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-2">
                  <div class="two p-3">
                    <img
                      src="../../assets/spend.png"
                      alt=""
                      srcset=""
                      class="spending"
                    />
                    <p class="text-muted text-center">Total Spending</p>
                    <h1 class="text-muted text-center">
                      #{{ userDetails.totalSpending }}:00
                    </h1>
                  </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-2">
                  <div class="two p-3">
                    <img
                      src="../../assets/save.png"
                      alt=""
                      srcset=""
                      class="spending"
                    />
                    <p class="text-muted text-center">Total Saved</p>
                    <h1 class="text-muted text-center">#0</h1>
                  </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4">
                  <div class="activity p-3">
                    <h1>Your Goals</h1>

                    <div id="divPieChart"></div>
                    <!-- Button trigger modal -->
                    <button
                      type="button"
                      mat-raised-button
                      data-bs-toggle="modal"
                      data-bs-target="#staticBackdrop"
                    >
                      Set Your goal
                    </button>
                    <div class="myGoal">
                      <div
                        class="goaldiv shadow my-3"
                        *ngFor="let goal of userGoals; let i = index"
                      >
                        <span class="goalText p-4 mt-2">
                          {{ goal.goal | uppercase }}</span
                        >
                        <span class="float-end"
                          ><button
                            class="btn btn-primary"
                            (click)="addMoneyToGoalIndex(i)"
                            data-bs-toggle="modal"
                            data-bs-target="#staticBackdropOne"
                          >
                            +
                          </button>
                        </span>
                        <br />
                        <span class="p-2"
                          ><span class="goalAmount p-2 mt-2">GoalAmount</span
                          >:#{{ goal.goalAmount }}</span
                        >
                        <span class="float-end mt-2"
                          ><span class="goalAmount">Total Saved</span>:#{{
                            goal.goalsavedamount
                          }}</span
                        >
                        <p class="mt-4 text-center">
                          <span class="goalAmount">Deadline:</span>
                          {{ goal.deadline }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8">
              
              <div class="chart" >
                 <h1 class="display-6 text-center">History</h1>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Description</th>
                      <th scope="col">Amount</th>
                      <th scope="col">Date</th>
                      <th scope="col">ref</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of history.slice(-1)">
                      <th>{{ item.description }}</th>
                      <th>#{{ item.amount }}:00</th>
                      <th>{{ item.date | date }}</th>
      
                      <th>{{ item.ref_no }}</th>
                    </tr>
                  </tbody>
                </table>

               </div> 
            </div>
          </div>
         
        </div>
      </div>
    </mat-drawer-container>
  </div>
</div>

<!-- goal modal -->
<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Goal</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div *ngIf="goalMsg" class="alert alert-danger">
          {{ goalMsg }}
        </div>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Goal</mat-label>
          <input
            class="w-100"
            matInput
            placeholder="Housing"
            [(ngModel)]="goal"
          />
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Amount</mat-label>
          <input
            class="w-100"
            matInput
            placeholder="2000"
            [(ngModel)]="goalAmount"
            type="number"
          />
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Date(Deadline)</mat-label>
          <input class="w-100" matInput type="date" [(ngModel)]="goaldate" />
        </mat-form-field>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="saveGoal(errorMsg)"
          data-bs-dismiss="modal"
        >
          Add Goal
        </button>
      </div>
    </div>
  </div>
</div>

<!-- fund goal div -->

<div
  class="modal fade"
  id="staticBackdropOne"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Goal</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div *ngIf="goalMsg" class="alert alert-danger">
          {{ goalMsg }}
        </div>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Amount</mat-label>
          <input
            class="w-100"
            matInput
            placeholder="200"
            [(ngModel)]="eachGoalAmount"
            type="number"
          />
        </mat-form-field>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="addMoneyToGoal()"
          data-bs-dismiss="modal"
        >
          Fund Goal
        </button>
      </div>
    </div>
  </div>
</div>
