<header>
  <section class="hero-header-text">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="textCouple">
              <h1 class="signupText text-center mt-3">
                You are a couple of steps closer to getting your account
              </h1>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-5 d-flex justify-content-center mx-sm-3 ms-xl-5 ">
              <div class="card" style="width: 18rem;"  (click)="info()">
                <img src="../../assets/dont.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h3 class="card-title text-center">Don't have an account?</h3>
                  <p class="text-center">Let's begin</p>

                </div>
              </div>

            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-5 d-flex justify-content-center">

              <div class="card" style="width: 18rem;"  (click)="accountInfo()">
                <img src="../../assets/have.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h3 class="card-title text-center">Have an existing account?</h3>
                  <p class="text-center">Let's get you quickly set up</p>

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</header>
