<div class="body">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-sm-10 col-md-10 col-lg-6 shadow p-3 mt-5">

        <h1 class="text-center">Terms and Conditions</h1>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis ducimus minima velit, officia, qui consequuntur eius at in quos est, quo ad iste placeat distinctio explicabo error nisi optio! Ex sequi eius maxime dolore dignissimos iusto tenetur in exercitationem. Quam placeat aperiam ad ducimus modi. A animi placeat amet! Dolorem dolorum asperiores molestias consequuntur itaque inventore, quam tenetur ad deserunt sit blanditiis maiores, nam facilis nisi, repellat rem temporibus. Commodi nulla quia doloremque natus veritatis quam, nisi, similique quibusdam perferendis ab quas asperiores deleniti pariatur ipsum molestiae, fugiat sunt nobis! Vitae, iusto enim, accusamus dolore earum nobis aperiam magnam quibusdam incidunt fuga distinctio consequatur soluta maxime sit odit exercitationem, molestiae qui nam ea officia tenetur alias culpa? Iste, adipisci amet?

        <div class=" mt-2">
          <button class=" nextBtn w-100 " mat-flat-button (click)="agree(errorMsg)">Agree
            <div class="spinner-border" *ngIf="loading"  role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </button>
        </div>



    </div>

  </div>

</div>
