.body{
  background-color: #FAFAFB;
  height:100vh;
  width:100%;
}

.step_one_img{
height: 4vh;
}

.stepOneImage{
  height: 10vh ;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.genBtn{
  outline:none;
  border: none;
  color: blue;
}
.addressIcon{
  height: 3vh;
}
.nextBtn{
  width: 100% !important;
  background-color: blue;
  color: white;
}

.center-text {
  text-align: center;
}